html {
    scroll-behavior: smooth;
}



#boxs {
    margin-top: 6rem;
}


.child {
    padding: 40px;
    background-color: aquamarine;
}

.title {
    
    text-align: center;
    padding-bottom: 20px;

}

@media (min-width: 892px){
    #lastItem {
        margin-top: 2rem;
    }
  }

  @media (min-width: 500px){
    .parent{
        margin-top: 2rem;
    }
    .navbar-nav {
        padding-left: 45%;
    }
  }


/* @media (min-width: 768px){
    .parent {
      margin-top: 100px;
      display: flex;
     flex-wrap: wrap;
    }
  
    .child {
      flex: 1 1 300px;
    }
  }
  
  
  @media (min-width: 992px) {
    .parent {
      margin-top: 100px;
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-gap: 1rem;
    }
      
  } */